<div class="row ng-body" ng-controller="userController">
    <div class="col-sm-3">
        <form id="searchForm" action="" novalidate>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter name" ng-model="user_name" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter phone" ng-model="user_phone" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter email" ng-model="user_email" />
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary" ng-click="listUser()">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Search
                </button>
                <button type="button" class="btn btn-secondary" ng-click="resetFilters()">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    Reset
                </button>
            </div>
        </form>
    </div>
    <div class="col-sm-9">
        <div class="table-responsive">
            <table id="userTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th ng-click="sortUser('user_name')">
                            Name
                            <span class="sort-icn" ng-class="{'active':sort_key === 'user_name'}">
                                <i class="fa fa-sort-amount-desc" ng-class="{'fa-sort-amount-asc':!reverse, 'fa-sort-amount-desc':reverse}"  aria-hidden="true"></i>
                            </span>
                        </th>
                        <th ng-click="sortUser('user_phone')">
                            Phone
                            <span class="sort-icn" ng-class="{'active':sort_key === 'user_phone'}">
                                <i class="fa fa-sort-amount-desc" ng-class="{'fa-sort-amount-asc':!reverse, 'fa-sort-amount-desc':reverse}"  aria-hidden="true"></i>
                            </span>
                        </th>
                        <th ng-click="sortUser('user_email')">
                            Email
                            <span class="sort-icn" ng-class="{'active':sort_key === 'user_email'}">
                                <i class="fa fa-sort-amount-desc" ng-class="{'fa-sort-amount-asc':!reverse, 'fa-sort-amount-desc':reverse}"  aria-hidden="true"></i>
                            </span>
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="user_listing" dir-paginate="user in user_listing | orderBy : sort_key : reverse | itemsPerPage:5">
                        <td>{{user.user_name}}</td>
                        <td>{{user.user_phone}}</td>
                        <td>{{user.user_email}}</td>
                        <td>
                            <a ui-sref="edit({id:user.user_id})" id="icn-edit">
                                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                            </a>
                            <a href="javascript:void(0);" ng-click="deleteUser(user.user_id)" id="icn-delete">
                                <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr ng-if="!user_listing">
                        <td colspan="4" class="alert alert-danger text-center">
                            Sorry! No user found.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pull-right">
            <dir-pagination-controls
                max-size="5"
                direction-links="true"
                boundary-links="true"
            >
            </dir-pagination-controls>
        </div>
    </div>
</div>
